/* DETAILS */
.details {
  display: flex;
  gap: 30px;
}

.details-poster {
  width: 350px;
  border-radius: 10px;
}

.details-content {
  max-width: 600px;
  padding: 5px;
}

.details-meta {
  margin-top: 14px;
  font-size: 0.9rem;
  opacity: 0.7;
  padding: 5px;
}

.details-genres {
  margin-top: 8px;
  opacity: 0.7;
  padding: 5px;
}
