.movie-card {
  width: 200px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.movie-card:hover {
  transform: scale(1.1);
  z-index: 30;
  box-shadow: 0 18px 45px rgba(0, 0, 0, 0.7);
}

.movie-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
