/* SEARCH */
.search-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-input {
  flex: 1;
  padding: 12px;
  border-radius: 4px;
  border: none;
  background: #222;
  color: white;
}

.search-button {
  padding: 12px 20px;
  background: #e50914;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.search-results-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 18px;
}

/* SEARCH COMPATTA AL CENTRO */
.navbar-search-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 260px;
}

.navbar-search-active {
  width: 200px;
  padding: 8px 12px;
  border-radius: 4px;
  border: none;
  background: #222;
  color: #fff;
  font-size: 0.9rem;
}

.navbar-search-close {
  background: transparent;
  border: none;
  font-size: 18px;
  color: #ccc;
  cursor: pointer;
  padding: 4px;
}

.navbar-search-close:hover {
  color: white;
}
